@page "/newUser"
@rendermode InteractiveServer


<EditForm Model="userOne" OnSubmit="HandleInput">

	@if (!_isSubmitted)
	{
		<h3>Register a new user</h3>
		<h4>Fill out your information to be a part of the Website!</h4>
		<div class="form-group">
			<label>First and lastname:</label>
			<input style="width:540px" type="text" @bind=_name class="form-control" />
		</div>
		<div class="form-group">
			<label>Email:</label>
			<input style="width:540px" type="text" @bind=_email class="form-control" />
		</div>
		<div class="form-group">
			<label>Number-ID:</label>
			<input style="width:540px" type="text" @bind=_numberID class="form-control" />
		</div>
		<div class="form-group">
			<label>Street:</label>
			<input style="width:540px" type="text" @bind=_street class="form-control" />
		</div>
		<div class="form-group">
			<label>ZipCode:</label>
			<input style="width:540px" type="text" @bind=_zipCode class="form-control" />
		</div>
		<div class="form-group">
			<label>City:</label>
			<input style="width:540px" type="text" @bind=_city class="form-control" />
		</div>
		<div class="form-group">
			<label>Company:</label>
			<input style="width:540px" type="text" @bind=_company class="form-control" />
		</div>
		<div class="form-group">
			<label>Your company's catchphrase:</label>
			<input style="width:540px" type="text" @bind=_companyCatchPhrase class="form-control" />
		</div>

		<button type="submit" class="w-20 btn btn-lg btn-primary">Register new user</button>
	}
	else
	{
		<h4>Now you're one of us. Your registered information is:</h4>
		<p>Namn: @_name</p>
		<p>Email: @_email</p>
		<p>ID: @_numberID</p>
		<p>Street: @_street</p>
		<p>ZipCode: @_zipCode</p>
		<p>City: @_city</p>
		<p>Company: @_company</p>
		<p>Company Catchphrase: @_companyCatchPhrase</p>

	}
</EditForm>



