@page "/users"
@rendermode InteractiveServer


<PageTitle>Users</PageTitle>


@if (_pageIsLoading)
{
    <p><em>Loading...Loading...Loading...</em></p>
}
else
{
    if(!_showingAllUsers)
    {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>ID</th>
                <th>Street</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>Company</th>
                <th>CathPhrase</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var userItem in _userList)
            {
                <tr>
                    <td>@userItem.Name</td>
                    <td>@userItem.Email</td>
                    <td>@userItem.ID</td>
                    <td>@userItem.Street</td>
                    <td>@userItem.ZipCode</td>
                    <td>@userItem.City</td>
                    <td>@userItem.CompanyName</td>
                    <td>@userItem.CompanyCatchPhrase</td>
                </tr>
            }
        </tbody>
    </table>
        <button class="w-20 btn btn-lg btn-primary" @onclick="ShowAllUsers">Show all users</button>
    }else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>ID</th>
                    <th>Street</th>
                    <th>ZipCode</th>
                    <th>City</th>
                    <th>Company</th>
                    <th>CathPhrase</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userItem in _allUsersToShow)
                {
                    <tr>
                        <td>@userItem.Name</td>
                        <td>@userItem.Email</td>
                        <td>@userItem.ID</td>
                        <td>@userItem.Street</td>
                        <td>@userItem.ZipCode</td>
                        <td>@userItem.City</td>
                        <td>@userItem.CompanyName</td>
                        <td>@userItem.CompanyCatchPhrase</td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="w-20 btn btn-lg btn-primary" @onclick="ShowTopFiveUsers">Show top five users</button>
    }

}
